#imCel0_01 {position: absolute; top: 0px; left: 10px; height: 178px; width: 719px; }
#imObj0_01 .ff0 {font-family: Times New Roman; }
#imObj0_01 .ff1 {font-family: Tahoma; }
#imObj0_01 .ff2 {font-family: Tahoma; }
#imObj0_01 .fc1 {color: #FFFFFF; }
#imObj0_01 .fc2 {color: #000000; }
#imObj0_01 .fc3 {color: #000080; }
#imObj0_01 .fs12 {font-size: 16px ; vertical-align: baseline; line-height: 19px ; }
#imObj0_01 .fs14 {font-size: 19px ; vertical-align: baseline; line-height: 22px ; }
#imObj0_01 {padding: 0px; }
#imCel0_01_Cont {text-align: center; height: 178px; overflow: hidden; }
#imCel1_00 {position: absolute; top: 0px; left: 739px; height: 178px; width: 233px; }
#imCel1_00_Cont {border-top: 2px solid #000080; border-left: 2px solid #000080; border-right: 2px solid #000080; border-bottom: 2px solid #000080; }
#imObj1_00 img {border: none; height: 164px; width: 219px; vertical-align: bottom; }
#imObj1_00 {padding: 5px; }
#imCel1_00_Cont {text-align: center; height: 174px; overflow: hidden; }
#imCel0_00 {position: absolute; top: 188px; left: 10px; height: 416px; width: 719px; }
#imObj0_00 .ff0 {font-family: Times New Roman; }
#imObj0_00 .ff1 {font-family: Tahoma; }
#imObj0_00 .ff2 {font-family: Symbol; }
#imObj0_00 .ff3 {font-family: Tahoma; }
#imObj0_00 .ff4 {font-family: Wingdings; }
#imObj0_00 .fc1 {color: #FFFFFF; }
#imObj0_00 .fc2 {color: #000000; }
#imObj0_00 .fc3 {color: #59337A; }
#imObj0_00 .fc4 {color: #00C0C0; }
#imObj0_00 .fs18 {font-size: 24px ; vertical-align: baseline; line-height: 27px ; }
#imObj0_00 .fs14 {font-size: 19px ; vertical-align: baseline; line-height: 22px ; }
#imObj0_00 {padding: 0px; }
#imCel0_00_Cont {text-align: center; height: 416px; overflow: hidden; }
#imCel4_01 {position: absolute; top: 188px; left: 739px; height: 220px; width: 233px; }
#imCel4_01_Cont {border-top: 2px solid #000144; border-left: 2px solid #000144; border-right: 2px solid #000144; border-bottom: 2px solid #000144; }
#imObj4_01 .ff0 {font-family: Times New Roman; }
#imObj4_01 .ff1 {font-family: Tahoma; }
#imObj4_01 .ff2 {font-family: Tahoma; }
#imObj4_01 .fc1 {color: #FFFFFF; }
#imObj4_01 .fc2 {color: #000000; }
#imObj4_01 .fc3 {color: #000080; }
#imObj4_01 .fs12 {font-size: 16px ; vertical-align: baseline; line-height: 19px ; }
#imObj4_01 .fs10 {font-size: 13px ; vertical-align: baseline; line-height: 16px ; }
#imObj4_01 .fs14 {font-size: 19px ; vertical-align: baseline; line-height: 22px ; }
#imObj4_01 .fs8 {font-size: 11px ; vertical-align: baseline; line-height: 14px ; }
#imObj4_01 .cbct1 {border-top: 0px solid #FFFFFF}
#imObj4_01 .cbcb1 {border-bottom: 0px solid #FFFFFF}
#imObj4_01 .cbcl1 {border-left: 0px solid #FFFFFF}
#imObj4_01 .cbcr1 {border-right: 0px solid #FFFFFF}
#imObj4_01 table {border-collapse: collapse; }
#imObj4_01 {padding: 15px; }
#imCel4_01_Cont {text-align: left; height: 216px; overflow: hidden; }
#imCel4_01 table {margin: 0; }
#imCel1_01 {position: absolute; top: 418px; left: 739px; height: 137px; width: 233px; }
#imCel1_01_Cont {border-top: 2px solid #000080; border-left: 2px solid #000080; border-right: 2px solid #000080; border-bottom: 2px solid #000080; }
#imObj1_01 img {border: none; height: 123px; width: 219px; vertical-align: bottom; }
#imObj1_01 {padding: 5px; }
#imCel1_01_Cont {text-align: center; height: 133px; overflow: hidden; }
#imPage {position: relative; height: 614px; }

