#imCel0_00 {position: absolute; top: 0px; left: 10px; height: 27px; width: 962px; }
#imObj0_00 .ff0 {font-family: Times New Roman; }
#imObj0_00 .ff1 {font-family: Tahoma; }
#imObj0_00 .ff2 {font-family: Tahoma; }
#imObj0_00 .fc1 {color: #FFFFFF; }
#imObj0_00 .fc2 {color: #000000; }
#imObj0_00 .fc3 {color: #00C0C0; }
#imObj0_00 .fc4 {color: #000080; }
#imObj0_00 .fs14 {font-size: 19px ; vertical-align: baseline; line-height: 22px ; }
#imObj0_00 .fs10 {font-size: 13px ; vertical-align: baseline; line-height: 16px ; }
#imObj0_00 {padding: 0px; }
#imCel0_00_Cont {text-align: center; height: 27px; overflow: hidden; }
#imCel5_00 {position: absolute; top: 37px; left: 10px; height: 634px; width: 962px; }
#imObj5_00 {position: relative; text-align: left; }
#imObj5_00 div.imFGPanel {position: relative; }
#imFGMain_0 {position: relative; top: 233px; left: 22px; height: 397px; width: 916px; overflow: hidden; }
#imFGImage_0_cont {position: relative; top: 0px; left: 0px; height: 100%; width: 100%; }
#imFGImage_0 {position: absolute; top: 0; z-index: 500;}
#imFGImage_0_back {position: absolute; top: 0; z-index: 499;}
#imFGImgCont_0 {position: absolute; overflow: hidden; left: 22px; height: 229px; width: 916px; }
#imFGDescr_0 {position: absolute; left: 0; width: 916px; overflow: hidden; z-index: 501; }
#imFGDescr_0_content {position: relative; }
#imFGDescr_0_text {position: absolute; top: 0; left: 0; padding: 5px; text-align: left; font: 11px Tahoma; color: #fff; }
#imFGDescr_0_bg {position: absolute; top: 0; left: 0; width: 100%; background-color: #000; opacity: 0.6; filter: alpha(opacity=60); }
#imFGImgList_0 {position: absolute; height: 229px; white-space: nowrap; }
#imFGImgList_0 img {vertical-align: bottom; height: 229px; width: 229px; cursor: pointer; }
#imObj5_00 .imFGArrowL {position: absolute; top: 91px; left: 0px; }
#imObj5_00 .imFGArrowR {position: absolute; top: 91px; left: 938px; }
#imObj5_00 {padding: 0px; }
#imCel5_00_Cont {text-align: center; height: 634px; overflow: hidden; }
#imPage {position: relative; height: 681px; }

