body {margin: 0; padding: 0; background-color: #FFFFFF; }
#imSite {width: 988px; margin: 15px auto; text-align: left; }
#imHeader {height: 200px; background-color: #404040; background-image: url('top.jpg'); background-repeat: no-repeat; }
#imBody {background-color: #FFFFFF; }
#imMenuMain {height: 65px; padding: 10px 7px 0 7px; }
#imContent {clear: left; padding: 1px 7px 0 7px; }
#imFooter {clear: both; height: 25px; }

